# -------------------------------
# Archive output
# -------------------------------
Archive/
*/Archive/
**/Archive/

# Zipped archives
*.zip

# -------------------------------
# Log files
# -------------------------------
ArchiveLog_*.txt
*.log

# -------------------------------
# PowerShell transient files
# -------------------------------
*.ps1xml

# -------------------------------
# OS / Misc
# -------------------------------
Thumbs.db
Desktop.ini

# -------------------------------
# Temporary files
# -------------------------------
*.tmp
*.bak
*.old
